<div class="d-flex flex-column vh-100">
    <!-- Línea superior con imagen centrada -->
    <div class="w-100 d-flex justify-content-center align-items-center border border-dark"
        style="background-color: rgb(206, 212, 219); height: 60px;">
        <i type="button" data-toggle="collapse" data-target="#sidebar" aria-expanded="false" aria-controls="sidebar" class="bi bi-list fs-1" style="margin-right: -1vh; margin-left: 2vh;"></i>
        <!-- Espacio entre el ícono y el borde izquierdo -->
        <div class="flex-grow-1 text-center"> <!-- Este div ayuda a centrar la imagen -->
            <img src="Public/img/Fisherlogo.png" alt="Logo" style="max-height: 200px;">
        </div>
    </div>
    
        <div class="row w-100">
            <!-- Barra lateral -->
            <div class="col-md-12 collapse" id="sidebar">
                <div class="rounded-lg border border-dark text-white p-4" style="background-color: rgb(206, 212, 219);">
                    <div class="d-flex align-items-center">
                        <i class="bi bi-person-circle fs-1 text-black"></i>
                        <div class="UserName text-black" style="margin-left: 1vh;">Nombre de usuario</div>
                    </div>
                    <ul class="list-unstyled mt-3">
                        <li class="bg-white rounded-lg border border-dark mt-1"><a href="#" class="text-black ms-1">Opción 1</a></li>
                        <li class="bg-white rounded-lg border border-dark mt-1"><a href="#" class="text-black ms-1">Opción 2</a></li>
                        <li class="bg-white rounded-lg border border-dark mt-1"><a href="#" class="text-black ms-1">Opción 3</a></li>
                    </ul>
                    <div class="d-flex align-items-center">
                        <i class="bi bi-power fs-1 text-black"></i>
                        <div class="text-black" style="margin-left: 1vh;">Cerrar Sesión</div>
                    </div>
                </div>
            </div>

    <!-- Contenedor principal centrado -->
    <div class="d-flex flex-grow-1 mt-4">
        <div class="col-12 col-sm-9 col-md-6 col-lg-4 ms-3">
            <div class="w-50 rounded-lg border border-dark text-center mx-auto" style="height: auto">
                Usuarios
            </div>
            <div class="w-50 rounded-lg border border-dark align-items-center text-center mt-3" style="height: auto">
                Buscar
            </div>

            <div>
                <div class="w-80 rounded-lg border border-dark mx-auto mt-3 p-3" style="height: auto; background-color: rgb(206, 212, 219);">
                    <div class="d-flex justify-content-center align-items-center">Eliminar usuario</div>
                    <div class="d-flex justify-content-center align-items-center mt-3">
                        <div>Nombre del usuario</div>
                    </div>
                    <div class="d-flex justify-content-center align-items-center mt-3">
                        <div class="rounded-lg border border-dark">Eliminar</div>   
                        <div class="rounded-lg border border-dark ms-5">Cancelar</div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

<script>

</script>